*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #0d111d;
    color: rgb(223, 223, 223);
    min-height: 100vh;
}
header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
    outline: none;
}
form button img{
    width: 24px;
    height: 24px;
}
header h1{
    color: #43b05c;
    font-size: 2.5rem;
    text-transform: uppercase;
}
form button{
    width: 60px;
    transition: 0.3s;
    cursor: pointer;
}
form button:hover{
    background-color: #43b05c;
}
form button img{
    transition: 1s;
}
form button img:hover{
    transform: rotate(360deg);
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    list-style: none;
    min-width: 40%;
}
.todo{
    margin: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
    color: #000;
    transition: 0.5s;
}
.todo li{
    flex: 1;
}

.complete-btn,
 .delete-btn{
    background-color: #F3C40F;
    border:none;
    padding:1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
 }
.complete-btn:hover{
    background-color: #43b05c;
}
.delete-btn:hover{
    background-color:#E24C3F;
}
.todo-item{
    padding: 0rem 0.5rem;
    font-size: 1.5rem;
}
.complete-btn img{
    max-width: 35px;
    height: 24px;
    padding: 2.5px;
    pointer-events: none;
}
.delete-btn img{
    max-width: 35px;
    height: 24px;
    padding: 2.5px;
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.deleted{
    transform: rotateZ(20deg);
    opacity: 0;
    transition: 0.5s;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  

  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: #43b05c;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
    padding: 1rem;
  }

  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background:#43b05c;
    cursor: pointer;
    pointer-events: none;
    transition: 0.3s;
  }
  .select:hover::after {
    color: #43b05c;
    background-color: #fff;
  }
  